{
  "development": {
    "NODE_ENV": "development",
    "APPLICATION_PORT": "3000",
    "DATABASE_URL": "localhost:27017",
    "DATABASE_USER": "root",
    "DATABASE_PASSWORD": "root",
    "JWT_SECRET": "2erwDewrfvifsfe@dasd*cac_wDSDWsnduiv61ad"
  },
  "test": {
    "NODE_ENV": "test",
    "APPLICATION_PORT": "3001",
    "DATABASE_URL": "localhost:27017",
    "DATABASE_USER": "root",
    "DATABASE_PASSWORD": "root",
    "JWT_SECRET": "2erwDewrfvifsfe@dasd*cac_wDSDWsnduiv61ad"
  },
  "production": {
    "NODE_ENV": "production",
    "APPLICATION_PORT": "3002",
    "DATABASE_URL": "localhost:27017",
    "DATABASE_USER": "root",
    "DATABASE_PASSWORD": "root",
    "JWT_SECRET": "2erwDewrfvifsfe@dasd*cac_wDSDWsnduiv61ad"
  }
}